AI_ENDPOINT_GPT5=https://apis.davidcyril.name.ng/endpoints/ai/
AI_ENDPOINT_CLAUDE=https://apis.davidcyril.name.ng/endpoints/ai/
AI_ENDPOINT_QWEN=https://apis.davidcyril.name.ng/endpoints/ai/
AI_API_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
